h1 {
  padding-left: 20px;
  font-family: "Cabin", sans-serif;
}

h2 {
  padding-left: 20px;
  font-family: "Cabin", sans-serif;
}

.container {
  border: 1px solid black;
  padding: 25px;
}

#color-title {
  margin-top: -5px;
  margin-left: -23px;
}

.color-container {
  display: flex;
  flex-wrap: wrap;
}

.blue-color-panel {
  background-color: #16e2f5;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 25px 85px;
  margin-top: 20px;
  margin-right: 20px;
  flex-shrink: 5;
  height: 20px;
  width: 150px;
}

.pink-color-panel {
  background-color: #ff00ff;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 25px 85px;
  margin-top: 20px;
  margin-right: 20px;
  height: 20px;
  width: 150px;
}

.red-color-panel {
  background-color: #ff220c;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 25px 85px;
  margin-top: 20px;
  margin-right: 20px;
  height: 20px;
  width: 150px;
}

.green-color-panel {
  background-color: #16f529;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 25px 85px;
  margin-top: 20px;

  height: 20px;
  width: 150px;
}

.color-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gochi Hand", cursive;
  font-size: 23px;

  margin: 0 auto;
}

.color-code {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gochi Hand", cursive;
  font-size: 23px;
  margin: 0 auto;
}

.font-container {
  border: 1px solid black;
  margin-top: 15px;
}

#font-title {
  margin-left: 5px;
}

.roboto-font-container {
  display: inline-flex;
  flex-direction: column;
  line-height: 20px;
  font-family: "Roboto Mono", monospace;
  margin: 0px 25px;
}

#roboto-font {
  font-size: 23px;
  text-decoration: underline;
}

.thin-font-roboto {
  font-weight: 100;
}

.thick-italic-font-roboto {
  font-weight: 700;
  font-style: italic;
}

.merriweather-font-container {
  display: inline-flex;
  flex-direction: column;
  line-height: 20px;
  font-family: "Merriweather", serif;
  margin: 0px 25px;
}

#merriweather-font {
  font-size: 23px;
  text-decoration: underline;
}

.thin-font-merriweather {
  font-weight: 100;
}

.reg-font-merriweather {
  font-weight: 400;
}

.thick-italic-font-merriweather {
  font-weight: 900;
  font-style: italic;
}

.prompt-font-container {
  display: inline-flex;
  flex-direction: column;
  line-height: 20px;
  font-family: "Prompt", sans-serif;
  margin: 0px 25px;
}

#prompt-font {
  font-size: 23px;
  text-decoration: underline;
}

.thin-font-prompt {
  text-decoration: thin;
  font-weight: 100;
}

.reg-font-prompt {
  font-weight: 500;
}

.thick-italic-font-prompt {
  font-weight: 700;
  font-style: italic;
}

.text-style-container {
  border: 1px solid black;
  margin-top: 15px;
}

.h1-container {
  display: flex;
  flex-direction: column;
  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  font-weight: 800;
}

.h2-container {
  display: flex;
  flex-direction: column;
  font-family: "Merriweather", serif;
  font-weight: 500;
  font-size: 18px;
}

.p-container {
  display: flex;
  flex-direction: column;
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

#p-title {
  padding-left: 21px;
}
